<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CourseMapper">
  <resultMap id="BaseResultMap" type="domain.Course">
    <id column="Cno" jdbcType="INTEGER" property="cno" />
    <result column="Cname" jdbcType="VARCHAR" property="cname" />
    <result column="Ccredit" jdbcType="VARCHAR" property="ccredit" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course
    where Cno = #{cno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="domain.Course">
    insert into course (Cno, Cname, Ccredit
      )
    values (#{cno,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{ccredit,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="domain.Course">
    update course
    set Cname = #{cname,jdbcType=VARCHAR},
      Ccredit = #{ccredit,jdbcType=VARCHAR}
    where Cno = #{cno,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select Cno, Cname, Ccredit
    from course
    where Cno = #{cno,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select Cno, Cname, Ccredit
    from course
  </select>
</mapper>