<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.LoginMapper">
  <resultMap id="BaseResultMap" type="domain.Login">
    <id column="account" jdbcType="VARCHAR" property="account" />
    <result column="pw" jdbcType="VARCHAR" property="pw" />
    <result column="identity" jdbcType="INTEGER" property="identity" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from login
    where account = #{account,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="domain.Login">
    insert into login (account, pw, identity
      )
    values (#{account,jdbcType=VARCHAR}, #{pw,jdbcType=VARCHAR}, #{identity,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="domain.Login">
    update login
    set pw = #{pw,jdbcType=VARCHAR},
      identity = #{identity,jdbcType=INTEGER}
    where account = #{account,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select account, pw, identity
    from login
    where account = #{account,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select account, pw, identity
    from login
  </select>
</mapper>